<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yystudio.admin.module.business.law.dao.ContentDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="com.yystudio.admin.module.business.law.domain.vo.ContentVO">
        SELECT
        *
        FROM t_content
        <where>
            deleted_flag = 0
            <!--关键字查询-->
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND ( INSTR(t_content.title,#{queryForm.keywords})
                OR INSTR(t_content.subtitle,#{queryForm.keywords})
            )
            </if>
            <!--类型-->
            <if test="queryForm.type != null">
                AND t_content.type = #{queryForm.type}
            </if>
            <!--创建时间-->
            <if test="queryForm.createTimeBegin != null">
                AND DATE_FORMAT(t_content.create_time, '%Y-%m-%d') &gt;= #{queryForm.createTimeBegin}
            </if>
            <if test="queryForm.createTimeEnd != null">
                AND DATE_FORMAT(t_content.create_time, '%Y-%m-%d') &lt;= #{queryForm.createTimeEnd}
            </if>
            <!--分类-->
            <if test="queryForm.categoryId != null">
                AND t_content.category_id = #{queryForm.categoryId}
            </if>
            order by t_content.create_time desc
        </where>
    </select>



    <update id="batchUpdateDeleted">
        update t_content set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update t_content set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>

    <update id="updateContent" parameterType="com.yystudio.admin.module.business.law.domain.form.ContentUpdateForm">
        UPDATE t_content
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="subtitle != null">subtitle = #{subtitle},</if>
            <if test="type != null">type = #{type},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="content != null">content = #{content},</if>
            <if test="tags != null">tags = #{tags},</if>
            status = 1,
        </set>
        WHERE id = #{id}
    </update>
    <update id="updateOffLine">
        update t_content set status = 0
        where id = #{id}
    </update>
    <update id="updateViews">
        update t_content set views = views + 1
        where id = #{id}
    </update>
    <update id="updateLikes">
        update t_content set likes = likes + 1
        where id = #{id}
    </update>
    <update id="updateCollections">
        update t_content set collections = collections + 1
        where id = #{id}
    </update>


    <!-- APP分页查询 -->
    <select id="queryAppPage" resultType="com.yystudio.admin.module.business.law.domain.vo.ContentVO">
        SELECT
        id, title, subtitle, type, category_id, user_id, cover_image, tags, status, deleted_flag, views, likes, collections, create_time, update_time
        FROM t_content
        <where>
            deleted_flag = 0 and status = 1
            <!--关键字查询-->
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND ( INSTR(t_content.title,#{queryForm.keywords})
                OR INSTR(t_content.subtitle,#{queryForm.keywords})
                )
            </if>
            <!--类型-->
            <if test="queryForm.type != null">
                AND t_content.type = #{queryForm.type}
            </if>
            <!--创建时间-->
            <if test="queryForm.createTimeBegin != null">
                AND DATE_FORMAT(t_content.create_time, '%Y-%m-%d') &gt;= #{queryForm.createTimeBegin}
            </if>
            <if test="queryForm.createTimeEnd != null">
                AND DATE_FORMAT(t_content.create_time, '%Y-%m-%d') &lt;= #{queryForm.createTimeEnd}
            </if>
            <!--分类-->
            <if test="queryForm.categoryId != null">
                AND t_content.category_id = #{queryForm.categoryId}
            </if>
            order by t_content.create_time desc
        </where>
    </select>

</mapper>